rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Función para obtener los datos del rol del usuario que hace la petición.
    function getUserRole() {
      return get(/databases/$(database)/documents/usuarios/$(request.auth.uid)).data.role;
    }

    // Función para verificar si el usuario es el propietario del documento.
    function isOwner(res) {
      return request.auth.uid == res.data.userId;
    }

    // Reglas para la colección de Usuarios
    // Solo los administradores pueden leer la lista completa y modificar roles.
    // Cada usuario puede leer su propio documento de rol.
    match /usuarios/{userId} {
      allow read: if request.auth.uid == userId || getUserRole() == 'administrador';
      allow write: if getUserRole() == 'administrador';
    }

    // Reglas para las colecciones de datos principales.
    // El acceso de lectura y escritura se concede si el usuario es el propietario
    // del documento o si tiene el rol de 'administrador'.
    match /clientes/{documentId} {
      allow read, write: if isOwner(resource) || getUserRole() == 'administrador';
    }

    match /insumos/{documentId} {
      allow read, write: if isOwner(resource) || getUserRole() == 'administrador';
    }

    match /productos/{documentId} {
      allow read, write: if isOwner(resource) || getUserRole() == 'administrador';
    }

    match /proveedores/{documentId} {
      allow read, write: if isOwner(resource) || getUserRole() == 'administrador';
    }

    match /proyectos/{documentId} {
      allow read, write: if isOwner(resource) || getUserRole() == 'administrador';
    }
  }
}
